{% extends "base.html" %}

{% block above_container %}
<div class="container">
  <h2> 
    {% if battle.is_resistance %}
      {{ battle.defender.name }} - {{ battle.region.name }} (RW)
    {% else %}
      {{ battle.attacker.name }} vs {{ battle.defender.name }} - {{ battle.region.name }}
    {% endif %}
    {% if not battle.is_active %}
      - Final wall: {{ battle.defence_points }}
    {% endif %}
  </h2>
  {% if not battle.is_active %}
    <p>Endet at: {{ battle['ended-at'] }}</p>
  {% else %}
    <p>Started at: {{ battle['started-at'] }}</p>
  {% endif %}
  <hr />
</div>
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-6">
    <h3>Attacker side: {{ battle.att_side }} fights total</h3>
    <hr />
    <table class="fights-table">
      {% for f in toplist.side_a %}
        <tr>
          <td>
            <a href="//vpopulus.net/citizen/{{f.citizen.id}}">
              <img src="{{ f.citizen['avatar-link'] }}"/>
              {{ f.citizen.name }}
            </a>
          </td>
          <td>{{ f.num_of_fights }}</td>
          <td>{{ f.damage|int }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <div class="col-sm-6">
    <h3>Defender side: {{ battle.def_side }} fights total</h3>
    <hr />
    <table class="fights-table">
      {% for f in toplist.side_d %}
        <tr>
          <td>
            <a href="//vpopulus.net/citizen/{{f.citizen.id}}">
              <img src="{{ f.citizen['avatar-link'] }}"/>
              {{ f.citizen.name }}
            </a>
          </td>
          <td>{{ f.num_of_fights }}</td>
          <td>{{ f.damage|int }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}

{% block extra_js %}
  <script src="{{ url_for('static', filename='highcharts.js') }}"></script>
  <script src="{{ url_for('static', filename='exporting.js') }}"></script>
  <script>
    $(function () {
      $('#container').highcharts({
        chart: {
            type: 'area',
            zoomType: 'x'
        },
        title: {
            text: ''
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%e. %b',
                year: '%b'
            },
            title: {
                text: 'Date'
            }
        },
        yAxis: {
            title: {
                text: 'Wall'
            },
            plotLines: [{
              color: '#FF0000',
              width: 2,
              value: {{ battle.objectives.secure }},
            }]
        },
        tooltip: {
            headerFormat: '<b>{point.key}</b><br>',
            pointFormat: '{point.x:%H:%M} - Wall: {point.y:.0f}'
        },

        series: [{
            name: 'Wall',
            color: "#2868b0",
            negativeColor: "#c54743",
            threshold: {{ battle.objectives.secure }},
            turboThreshold: 0,
            data: [
                {% for c in chart_data %}
                {
                  'name': "{{ c.citizen }} {% if c.damage > 0%}+{% endif%}{{ c.damage }}",
                  'y': {{ c.wall }},
                  'x': Date.UTC({{c.time.year}}, {{c.time.month}}, {{c.time.day}},
                       {{c.time.hour}}, {{c.time.minute}}, {{c.time.second}}),
                },
                {% endfor %} 
            ]
        }]
      });
    });
  </script>
  <style>
    .highcharts-legend-item {display: none;}
  </style>
{% endblock %}
