{% extends "base.html" %}

{% block content %}
  <div class="header">
    <h2>vPopulus Tools</h2>
    <p>
      <a href="/company/" class="btn btn-success">
        Company production calculator
      </a>
    </p>
    <p>
      <a href="/fight/" class="btn btn-danger">
        Fight damage calculator
      </a>
    </p>
    <p>
      <a href="/top/" class="btn btn-primary">
        Rankings top list (xp, skill, strength, rank)
      </a>
    </p>
    <p>
      <form action="{{ url_for("battle_list") }}">
        <div class="input-group" style="max-width: 300px;">
          <input class="form-control" name="battle_id" placeholder="Battle ID"/>
          <div class="input-group-btn">
            <button class="btn btn-warning" id="clickme">
              Show battle stats
            </button>
            <a href="/battle" class="btn btn-info">Battle list</a>
          </div>
        </div>
      </form>
    </p>
  </div>
{% endblock %}
